.dataTables_wrapper {
    font-family: 'Comfortaa', cursive;
    padding: 1rem 2rem;
    font-size: 13px;
}
.btn {
    font-size: 13px;
}
.text-table-clients h3 {
    font-family: 'Comfortaa', cursive;
    color: #9F0006;
}