:root {
    --color-background-light: #FFFFFF;
    --color-background-primary: #C1272D;
    --color-background-secondary: ##C4C4C4;

    --color-font-primary: #FFFFFF;
    --color-font-secondary: #C1272D;

    --color-button-warning-primary: #FED766;
    --color-button-danger-primary: #9F0006;
    --color-button-info-primary: #2AB7CA;

}

body, html {
    font-family: 'Comfortaa', cursive;
}

ul li {
    list-style: none;
}
a{
    text-decoration: none;
}
.button {
    padding: 8px 20px !important;
    border-radius: 2px;
    cursor: pointer;
}
.button-primary {
    background-color: var(--color-button-danger-primary) !important;
    color: var(--color-font-primary) !important;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
}
.button-info {
    background-color:  var(--color-button-info-primary);
    color: var(--color-font-primary);
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
}
.button-warning {
    background-color:  var(--color-button-warning-primary);
    color: var(--color-font-secondary);
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
}


