.full-height {
    background: var(--color-background-primary);
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title img {
    width: 100%;
}

.links > a {
    color: var(--color-font-primary);
    padding: 0 25px;
    font-size: 13px;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.links h3 {
    color: var(--color-font-primary);
    padding: 0 25px;
    font-size: 25px;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase
}

.m-b-md {
    margin-bottom: 30px;
}
